.button-style:hover {
  background-position: 100% 100%;
}
.menu-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.sub-menu li:hover {
  padding-right: 15px;
  background: rgba(14, 14, 14, 0.295);
}
.sub-menu li:hover a {
  color: #20a446;
}
.sumb-menu-item:hover > ul {
  display: flex;
  animation: sub-menu 0.3s ease-out 0s 1 normal forwards;
}
.button-play:hover {
  border-color: #21bd4d;
  transform: scale(1.04);
}
