@media all and (max-width: 576px) {
  .xs-span-1 {
    grid-column: span 1;
  }
  .xs-span-2 {
    grid-column: span 2;
  }
  .xs-span-3 {
    grid-column: span 3;
  }
  .xs-span-4 {
    grid-column: span 4;
  }
  .xs-span-5 {
    grid-column: span 5;
  }
  .xs-span-6 {
    grid-column: span 6;
  }
  .xs-span-7 {
    grid-column: span 7;
  }
  .xs-span-8 {
    grid-column: span 8;
  }
  .xs-span-9 {
    grid-column: span 9;
  }
  .xs-span-10 {
    grid-column: span 10;
  }
  .xs-span-11 {
    grid-column: span 11;
  }
  .xs-span-12 {
    grid-column: span 12;
  }
  .header-style {
    height: 63px;
  }
  .nav-menu {
    display: none;
  }
  .off-canvas-button {
    display: flex;
  }
  .header-content {
    width: 100%;
    color: #fff;
    grid-template-columns: auto auto 1fr;
  }
  .button-container {
    justify-content: flex-end;
    padding: 0px 35px;
  }
  .off-canvas-container {
    display: block;
  }
  .intro-title {
    font-size: 1.9em;
  }
  .feature-list {
    column-gap: 0px;
  }
  .feature-item {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .feature-item h5 {
    text-align: center;
    padding-top: 20px;
  }
  .feature-item p {
    text-align: center;
  }
  .icon-container {
    margin: 0px;
  }
  .feature-title {
    text-align: center;
  }
  .feature-padd {
    padding: 0px 0px;
  }
  .attribute-section {
    flex-flow: row wrap-reverse;
  }
  .attribute-image {
    width: 100%;
  }
  .attribute-context h4 {
    font-size: 1.5em;
  }
  .attribute-context {
    padding: 18px 10vw;
  }
  .feature-att-item {
    padding: 1.5vw 0px;
  }
  .companies-title {
    padding: 5vw 0vw;
  }
  .skin-title {
    text-align: center;
    font-size: 1.8em;
  }
  .img-radius {
    border-radius: 8px;
  }
  .skin-item {
    margin: 5.5vw 0px;
  }
  .skin-section {
    padding: 8vw 0px;
  }
  .video-tour ~ h4 {
    font-size: 1.8em;
    font-weight: 800;
  }
}
@media all and (min-width: 576px) {
  .sm-span-1 {
    grid-column: span 1;
  }
  .sm-span-2 {
    grid-column: span 2;
  }
  .sm-span-3 {
    grid-column: span 3;
  }
  .sm-span-4 {
    grid-column: span 4;
  }
  .sm-span-5 {
    grid-column: span 5;
  }
  .sm-span-6 {
    grid-column: span 6;
  }
  .sm-span-7 {
    grid-column: span 7;
  }
  .sm-span-8 {
    grid-column: span 8;
  }
  .sm-span-9 {
    grid-column: span 9;
  }
  .sm-span-10 {
    grid-column: span 10;
  }
  .sm-span-11 {
    grid-column: span 11;
  }
  .sm-span-12 {
    grid-column: span 12;
  }
  .header-style {
    height: 63px;
  }
  .nav-menu {
    display: none;
  }
  .off-canvas-button {
    display: flex;
  }
  .button-container {
    justify-content: flex-end;
    padding: 0px 35px;
  }
  .off-canvas-container {
    display: block;
  }
  .intro-title {
    font-size: 2.4em;
  }
  .feature-list {
    column-gap: 50px;
  }
  .attribute-section {
    flex-flow: row wrap-reverse;
  }
  .attribute-image {
    width: 100%;
  }
  .attribute-context {
    padding: 18px 10vw;
  }
  .feature-att-item {
    padding: 0.8vw 0px;
  }
  .companies-title {
    padding: 5vw 0vw;
  }
  .img-radius {
    border-radius: 8px;
  }
}
@media all and (min-width: 768px) {
  .md-span-1 {
    grid-column: span 1;
  }
  .md-span-2 {
    grid-column: span 2;
  }
  .md-span-3 {
    grid-column: span 3;
  }
  .md-span-4 {
    grid-column: span 4;
  }
  .md-span-5 {
    grid-column: span 5;
  }
  .md-span-6 {
    grid-column: span 6;
  }
  .md-span-7 {
    grid-column: span 7;
  }
  .md-span-8 {
    grid-column: span 8;
  }
  .md-span-9 {
    grid-column: span 9;
  }
  .md-span-10 {
    grid-column: span 10;
  }
  .md-span-11 {
    grid-column: span 11;
  }
  .md-span-12 {
    grid-column: span 12;
  }
  .header-style {
    height: 63px;
  }
  .nav-menu {
    display: none;
  }
  .off-canvas-button {
    display: flex;
  }
  .button-container {
    justify-content: flex-end;
    padding: 0px 35px;
  }
  .off-canvas-container {
    display: block;
  }
  .intro-title {
    font-size: 2.4em;
  }
  .feature-list {
    column-gap: 50px;
  }
  .attribute-section {
    flex-flow: row wrap-reverse;
  }
  .attribute-image {
    width: 100%;
  }
  .attribute-context {
    padding: 18px 9vw;
  }
  .feature-att-item {
    padding: 0.8vw 0px;
  }
  .companies-title {
    padding: 5vw 0vw;
  }
  .img-radius {
    border-radius: 12px;
  }
}
@media all and (min-width: 992px) {
  .lg-span-1 {
    grid-column: span 1;
  }
  .lg-span-2 {
    grid-column: span 2;
  }
  .lg-span-3 {
    grid-column: span 3;
  }
  .lg-span-4 {
    grid-column: span 4;
  }
  .lg-span-5 {
    grid-column: span 5;
  }
  .lg-span-6 {
    grid-column: span 6;
  }
  .lg-span-7 {
    grid-column: span 7;
  }
  .lg-span-8 {
    grid-column: span 8;
  }
  .lg-span-9 {
    grid-column: span 9;
  }
  .lg-span-10 {
    grid-column: span 10;
  }
  .lg-span-11 {
    grid-column: span 11;
  }
  .lg-span-12 {
    grid-column: span 12;
  }
  .header-style {
    height: 93px;
  }
  .nav-menu {
    display: flex;
  }
  .off-canvas-button {
    display: none;
  }
  .button-container {
    justify-content: flex-end;
    padding: 0px 0px;
  }
  .off-canvas-container {
    display: none;
  }
  .intro-title {
    font-size: 2.8em;
  }
  .feature-list {
    column-gap: 80px;
  }
  .attribute-section {
    flex-flow: row nowrap;
  }
  .attribute-image {
    width: 60%;
  }
  .attribute-context h4 {
    font-size: 1.9em;
  }
  .attribute-context {
    padding: 0px 6vw 0px 1vw;
  }
  .feature-att-item {
    padding: 0.5vw 0px;
  }
  .companies-title {
    padding: 5vw 0vw;
  }
  .img-radius {
    border-radius: 17px;
  }
}
@media all and (min-width: 1200px) {
  .xl-span-1 {
    grid-column: span 1;
  }
  .xl-span-2 {
    grid-column: span 2;
  }
  .xl-span-3 {
    grid-column: span 3;
  }
  .xl-span-4 {
    grid-column: span 4;
  }
  .xl-span-5 {
    grid-column: span 5;
  }
  .xl-span-6 {
    grid-column: span 6;
  }
  .xl-span-7 {
    grid-column: span 7;
  }
  .xl-span-8 {
    grid-column: span 8;
  }
  .xl-span-9 {
    grid-column: span 9;
  }
  .xl-span-10 {
    grid-column: span 10;
  }
  .xl-span-11 {
    grid-column: span 11;
  }
  .xl-span-12 {
    grid-column: span 12;
  }
  .header-style {
    height: 93px;
  }
  .intro-title {
    font-size: 3.5em;
    line-height: 1.4em;
  }
  .feature-list {
    column-gap: 92px;
  }
  .attribute-context h4 {
    font-size: 2em;
  }
  .feature-att-item {
    padding: 0.43vw 0px;
  }
  .companies-title {
    padding: 3vw 0vw;
  }
}
@media all and (min-width: 1400px) {
  .xxl-span-1 {
    grid-column: span 1;
  }
  .xxl-span-2 {
    grid-column: span 2;
  }
  .xxl-span-3 {
    grid-column: span 3;
  }
  .xxl-span-4 {
    grid-column: span 4;
  }
  .xxl-span-5 {
    grid-column: span 5;
  }
  .xxl-span-6 {
    grid-column: span 6;
  }
  .xxl-span-7 {
    grid-column: span 7;
  }
  .xxl-span-8 {
    grid-column: span 8;
  }
  .xxl-span-9 {
    grid-column: span 9;
  }
  .xxl-span-10 {
    grid-column: span 10;
  }
  .xxl-span-11 {
    grid-column: span 11;
  }
  .xxl-span-12 {
    grid-column: span 12;
  }
  .header-style {
    height: 93px;
  }
  .intro-title {
    font-size: 3.5em;
    line-height: 1.4em;
  }
  .companies-title {
    padding: 2.5vw 0vw;
  }
}
.container-fluid {
  width: 100%;
}
.wrapper {
  grid-template-columns: minmax(auto, 1200px);
  justify-content: center;
}
.grid-columns {
  grid-template-columns: repeat(12, 1fr);
}
